/.vscode
/00000096804_Pierre Rambe_tugas week05
/00000096804_Pierre Rambe_tugas week05.zip
/Adobe
/Bandicam
/coding
/Custom Office Templates
/desktop.ini
/file negara
/ProPresenter
/Sniptool
/tugas asinkron
/tugas.css
/tugas.html
/Virtual Machines
/week07.c
/week6_00000096804_Pierre Rambe
/Wo1
/Zoom
/My Pictures
/My Videos
/My Music