*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: lightslategrey;
}

.wrapper {
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 35px;
  background-color: #222;
}

.brand {
  display: flex;
  flex-direction: row;
}

.fname {
  color: white;
  font-weight: 600px;
}

.lname {
  color: crimson;
  padding-left: 4px;
}

.akses {
  color: lightpink;
  padding-left: 4px;
}

.main {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  padding-left: 2px;
  margin-top: 4px;
}

.main label {
  align-self: center;
}

.main input {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
}

.table-container{
  margin-top: 20px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th,td{
  padding: 8px;
  border: 1px solid lightslategrey;
}

th{
  background-color: lightslategrey;
}

.button-container{
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button-container button{
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button.delete-btn{
  background-color: #f44336;
}

.button-container button.edit-btn{
  background-color: rgb(0, 204, 255);
  text-align: center;
  justify-content: center;
}

.submit-btn{
  background-color: #4CAF50;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.justify{
  justify-content: center;
  text-align: center;
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.readonly {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: inline-block;
  margin-bottom: 10px;
}
